body
{
    color: grey;
}
li
{
    font-size: 50px;


    width: 400px;
    margin-top: 10px;
    margin-left: 35px;

    list-style: none;


    text-transform: uppercase;
    border: solid;
    border-radius: 20px;
    background-color: yellow;
}
h1
{
    text-align: center;
}
.inputs
{
    margin-left: 450px;
}
.selections{
    margin-left: 450px;
}
h2{
    text-align: center;
}
ul li{
  display: inline
}
