body
{
    color: grey;
}
li
{
    font-size: 50px;


    width: 400px;
    margin-top: 10px;
    margin-left: 40px;

    list-style: none;


    text-transform: uppercase;
    border: solid;
    border-radius: 20px;
    background-color: yellow;
}
h1
{
    text-align: center;
}
.inputs
{
    margin-left: 35%;

}
.selections{
    margin-left: 35%;
}
h2{
    text-align: center;
}
ul li{
  display: inline;
  position: relative;
}
.resetbtn{
    margin-left: 35%;
}
